@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - mvc</title> 
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        main {
            flex: 1;
            padding-bottom: 50px;
        }
    </style>
</head>
<body>
        <div class="container">
        <main role="main" class="pb-3">
            <div class="text-center">
                <h1 class="display-4">Bem-vindo ao mvc</h1>
                <p>Aprenda sobre a construção de aplicativos Web com ASP.NET Core, C# e .NET.</p>
                <img src="~/images/mvc.png" class="img-fluid" alt="MVC Image" />
            </div>
        </main>
    </div>
   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
